mixin AuthModule()

	.AuthModule.FrontendModule(ng-controller="AuthController")
		h2.ModuleTitle Hi 
			span!=user.username
		p please login or logout. thx. Back to your 
			a(href=domain) MyFeed

		.info(ng-show="login.info")
			p {{login.info}}

		.not-loggedin(ng-hide="login.token")
			input.username(
				type="text", 
				placeholder="Username", 
				ng-model="login.username", 
				value="{{login.username}}"
			)
			input.password(
				type="password", 
				placeholder="Password", 
				ng-model="login.password", 
				value="{{login.password}}"
			)
			button.sendLogin(
				ng-click="sendLogin(login.username,login.password)"
			) Login !!

		.loggedin(ng-show="login.token")
			button.sendLogin(
				ng-click="sendLogout()"
			) Logout !!