// extend layout1
extends includes/_layout1

// extend block head
block head

	// Head - Time for meta tags
	+global_headstuff({title: "Robert Agthe"})

// extend block body
block body
	.Navigation-Left
	.Stream
		for row in rows
			.Post
				header.post-header
					.Avatar
						img(src="https://www.gravatar.com/avatar/"+user.emailhash)

					.Meta
						.meta-username Robert Agthe
						.meta-postcreated Just now

				article.post-article
					.article-content
						.content-title!= row.doc.title
						.content-content!= row.doc.content

					if row.doc.attachments
						hr
						for attachment in row.doc.attachments

							if attachment.type == "url"
								.UrlAttachment
									.url-link
										if attachment.title
											a(href!=attachment.url)!= attachment.title
										else if attachment.url
											a(href!=attachment.url)!= attachment.url
									.url-excerpt!= attachment.excerpt

							if attachment.type == "image"
								.ImageAttachment
									.image-link
