mixin Post(config)

	// Post Element - can be normal or a tweet if short content!
	.Post(
		ng-show="PostObject.content || PostObject.attachments.length > 0", 
		ng-class="{tweet: PostObject.content.length < 141 && PostObject.attachments.length < 1}", 
		class=config.type
	)

		// The Header - Avatar, Metadata and Stuff
		header.post-header
			.Avatar
				a(ng-href="{{PostObject.user.domain}}")
					img(
						ng-src="https://www.gravatar.com/avatar/{{PostObject.user.emailhash}}"
						title="{{PostObject.user.username}} ~ {{PostObject.created | dateFromNow}} ~ {{PostObject.created | dateFormat}}"
					)
			.Meta
				.meta-username: a(href=user.domain) {{PostObject.user.username}}
				.meta-postcreated {{PostObject.created | dateFormat}} ({{PostObject.created | dateFromNow}})
				.meta-actions
					.meta-permalink(ng-show="PostObject._id")
						a(ng-if="PostObject.type == 'post'", href!='/post/{{PostObject._id}}', title="{{PostObject.title}}") Permalink
						a(ng-if="PostObject.type == 'foreign_post'", href!="{{PostObject.user.domain}}/post/{{PostObject._id.slice(0, PostObject._id.indexOf('#'))}}", title="{{PostObject.title}}") Permalink
					.meta-delete(ng-show="PostObject._id && login.token")
						a(ng-click="delete(PostObject)") delete

		// Main Content of the Post
		article.post-article
			.article-content
				.content-content(ng-bind-html="PostObject.content | toHTML")


		// Attachments
		.Attachments(ng-show="PostObject.attachments.length > 0", ng-class="{only: PostObject.content.length < 1}")

			// oEmbed Attachment
			.oEmbedAttachment(ng-repeat="attachment in PostObject.attachments | filter:{type: 'oembed'} track by $index")
				if config.type == 'new'
					// remove this attachment
					button.attachment-remove(ng-click="removeAttachment(attachment)") delete

				.oembed-embed
					oembed(code="{{attachment.embed}}")

				.oembed-link
					p Quelle:&nbsp;
						a(ng-href="{{attachment.url}}") {{attachment.url}}

			// Sound Attachment
			.SoundAttachment(ng-repeat="attachment in PostObject.attachments | filter:{type: 'sound'} track by $index")
				if config.type == 'new'
					// remove this attachment
					button.attachment-remove(ng-click="removeAttachment(attachment)") delete

				.sound-embed
					oembed(code="{{attachment.embed}}")

				.sound-link
					p Quelle:&nbsp;
						a(ng-href="{{attachment.url}}") {{attachment.url}}

			// Video Attachment
			.VideoAttachment(ng-repeat="attachment in PostObject.attachments | filter:{type: 'video'} track by $index")

				if config.type == 'new'
					// remove this attachment
					button.attachment-remove(ng-click="removeAttachment(attachment)") delete

				.video-embed
					video-embed(code="{{attachment.url}}")

				.video-link
					p Quelle:&nbsp;
						a(ng-href="{{attachment.url}}") {{attachment.url}}
					

			// Image Attachment
			.ImageAttachment(ng-repeat="attachment in PostObject.attachments | filter:{type: 'image'} track by $index")

				if config.type == 'new'
					// remove this attachment
					button.attachment-remove(ng-click="removeAttachment(attachment)") delete

				.image-thumb
					a(ng-href="{{attachment.url}}")
						img(ng-src="{{attachment.thumbnail}}")

				.image-link
					p Quelle:&nbsp;
						a(ng-href="{{attachment.url}}") {{attachment.url}}

			// URL Attachment
			.UrlAttachment(ng-repeat="attachment in PostObject.attachments | filter:{type: 'url'}  track by $index")

				if config.type == 'new'
					// remove this attachment
					button.attachment-remove(ng-click="removeAttachment(attachment)") delete

				.url-thumb(ng-if="attachment.thumbnail")
					img(ng-src="{{attachment.thumbnail}}")

				.url-meta(ng-if="attachment.thumbnail")
					.url-link
						a(ng-href="{{attachment.url}}", title="{{attachment.title}}") {{attachment.title}}
					.url-excerpt {{attachment.description | limitTo: 350}}

				.url-meta-wide(ng-if="!attachment.thumbnail")
					.url-link
						a(ng-href="{{attachment.url}}", title="{{attachment.title}}") {{attachment.title}}
					.url-excerpt {{attachment.description}}